* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.signup {
    width: 670px;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 625px;
    margin-top: 60px;

    background: #ffffff;
    border: 1px solid #aacdff;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
}

.header {
    width: 466px;
    height: 94px;
    margin-top: 72px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* display: flex;
    margin: 72px 104px 794px 100px; */

    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;

    color: #0068ff;
}

.underline {
    margin-top: 56.35px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
    border-color: #cfcfcf;
    outline: none;
}

.warper {
    width: 466px;
    height: 80px;
    margin-bottom: 21px;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: #797979;
}
.box1 {
    width: 140px;
    height: 23.94px;
    margin-left: 265px;
    margin-bottom: 50.06;

    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.radio1 {
    width: 20px;
    height: 19.95px;
}
.radio2 {
    width: 20px;
    height: 19.95px;
    margin-left: 20px;

    background-color: #ebebeb;
    border: 1px solid #d2d2d2;
}

.box2 {
    width: 470px;
    height: 75px;

    margin-left: 100px;
    margin-bottom: 70px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background: #ffffff;
    border: 1px solid #0068ff;
    border-radius: 10px;
}

.line {
    width: 470px;
    height: 1px;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background: #e6e6e6;
}
.check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align-last: center;
}

.send {
    width: 70px;
    height: 27px;
    margin-left: 200px;

    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #0068ff;
}
/*
border-box

padding 조절

-  border 고정
-  contents  크기 조절

content-box

padding 조절

- border 조절
- contents 고정
*/
