* {
    box-sizing: border-box;
    margin: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper_header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contents_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    color: #55b2e4;
    font-size: 13px;
    font-weight: 700;
}
.subtitle {
    font-size: 8px;
    padding-left: 5px;
}
.divideLine {
    width: 100%;
    border-top: 1px solid gray;
}

.contents_body {
    font-size: 11px;
    color: gray;
}

.wrapper_body {
    width: 100%;
    height: 270px;
}

.body_contents_body {
    width: 464px;
    height: 240px;
    margin-top: 10px;

    background-color: #c4c4c4;
}
