div {
    color: red;
    color: rgb(255, 0, 0); /* RGB */
    color: #ff0000; /* HEX 값 */

    font-size: 20px; /* 글자크기 */
    font-weight: 300; /* 글자두께 */
    text-align: center; /* 가운데 정렬 */
    font-family: arial; /* 글꼴 */

    width: 300px; /* 넓이 */
    height: 300px; /* 높이 */
    background-color: red; /* 배경색 */
    border: 1px solid black; /* 테두리 */
    border-radius: 5px; /* 테두리의 모서리 둥글게 */
}

/*
전체 선택자
* {
  color : red ;
}

태그 선택자
div {
  color : blue;
}

class 선택자 (<div class = "con">)
.con {
  color : green;
}

id 선택자 (<div id = "userinfo">)
#userinfo{
  color : white;
}
*/
