* {
    box-sizing: border-box;
}

button {
    border-radius: 5px;
    background-color: #123ecf;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 160px;
}

.btn1 {
    transition: width 0.4s ease-in-out;
}

.btn1:hover {
    width: 200px;
}

.btn2 {
    transition: width 0.4s ease-in-out;
}

.btn2:hover {
    width: 200px;
    background-color: #002398;
}

.btn3 {
    transition: width 0.5s ease-in-out 0.5s, background-color 0.5s ease-in-out;
}

.btn3:hover {
    width: 200px;
    background-color: #002398;
}
